body{
    font-family:Arial;
    background-color: aliceblue;
    margin:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding:10px;
    font-size: 1.6rem;
    font-weight: bold;
    border:2px solid rgb(53, 53, 53);
    border-radius: 10px;
    margin:10px;
    width:300px;
}
button[type="submit"]{
    padding:10px 20px;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: rgb(34, 255, 34);
    border:none;
    color:white;
    border-radius: 5px;
    cursor:pointer;
}
button[type="submit"]:hover{
    color:green;
    color:red;
}

.card{
    background: linear-gradient(180deg,rgb(2, 177, 247),orange);
    padding: 50px;
    box-shadow: 2px 2px 5px black;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
h1{
    margin-top: 0px;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin:5px ;
}
.cityDisplay,.tempDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color:black;
    margin-bottom: 25px;
}
.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
}
.weatherEmoji{
    margin: 0px;
    font-size: 3rem;
}
.errorDisplay{
    font-size: 2rem;
    font-weight: bold;
}